<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/headerinc :: head"></head>

<body>

	<header th:replace="fragments/navigation :: header"></header>

	<!-- Page Content -->

	<div id="table">

	<h2 id="table-title">Employee list</h2>

	<!-- 	<div th:if="${#lists.isEmpty(users)}">Empty list users!</div>
	<div th:if="${not #lists.isEmpty(users)}"> -->
	<table class="table table-striped">

		<tr>
			<th>id</th>
			<th>imiê</th>
			<th>nazwisko</th>
			<th>stanowisko</th>
			
		</tr>
		<tr th:each="employee : ${employeeList}">
			<td th:text="${employee.IdPracownik}" />
			<td th:text="${employee.pracownik_imie}" />
			<td th:text="${employee.pracownik_nazwisko}" />
			<td th:text="${employee.ID_stanowisko.stanowisko}" />
		</tr>


	</table>
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
