<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/headerinc :: head"></head>

<body>

	<header th:replace="fragments/navigation :: header"></header>

	<!-- Page Content -->

	<div id="table">

	<h2 id="table-title">Users list</h2>

	<!-- 	<div th:if="${#lists.isEmpty(users)}">Empty list users!</div>
	<div th:if="${not #lists.isEmpty(users)}"> -->
	<table class="table table-striped">

		<tr>
			<th>Id</th>
			<th>Login</th>
			<th>Activity</th>
			<th>Permission level</th>
			
		</tr>
		<tr th:each="user : ${usersList}">
			<td th:text="${user.ID_password}" />
			<td th:text="${user.login}" />
			<td th:text="${user.active}" />
			<td th:text="${user.permissions.permissions}" />
		</tr>


	</table>
	</div>
	
	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
