<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/headerinc :: head"></head>

<body>

	<header th:replace="fragments/navigation :: header"></header>

	<!-- Page Content -->

	<div id="table">

	<h2 id="table-title">Cases fo adress</h2>

	<!-- 	<div th:if="${#lists.isEmpty(users)}">Empty list users!</div>
	<div th:if="${not #lists.isEmpty(users)}"> -->
	<table class="table table-striped">

		<tr>
			<th>Case number</th>
			<th>Date</th>
			<th>Decision date</th>
			<th>Investor name</th>
			<th>Investor surname</th>
			<th>Company name</th>
			<th>case adress</th>
			<th>case complexity</th>
		</tr>
		<tr th:each="cases : ${casesList}">
			<td th:text="${cases.sprawa_numer}" />
			<td th:text="${cases.data_wniosku}" />
			<td th:text="${cases.decyzja_data_wydania}" />
			<td th:text="${cases.inwestor_imie}" />
			<td th:text="${cases.inwestor_nazwisko}" />
			<td th:text="${cases.inwestor_nazwa}" />
			<td th:text="${cases.sprawa_adres}" />
			<td th:text="${cases.sprawa_waga}" />
		</tr>


	</table>
	</div>
	
		<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>