<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/headerinc :: head"></head>

<body>

	<header th:replace="fragments/navigation :: header"></header>

	<!-- Page Content -->

	<div id="table">

	<h2 id="table-title">Edit Case</h2>

	<!-- 	<div th:if="${#lists.isEmpty(users)}">Empty list users!</div>
	<div th:if="${not #lists.isEmpty(users)}"> -->


	<form th:action="@{/case/save}" method="post" th:object="${cases}">
		<input type="hidden" th:field="*{id}" />

		<div class="control-group">
			<div class="form-group floating-label-form-group controls">
				<label>Numer decyzji</label> <input type="text"
					th:field="*{decyzjaNumer}" class="form-control"
					placeholder="decyzjaNumer" id="decyzjaNumer" />
				<p class="help-block text-danger"></p>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary" id="saveButton">Save</button>
		</div>

	</form>
	</div>

<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
