<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Tryb pracownika</title>

</head>
<body>

	<a>Wybierz działanie</a>
	<br />
	<a th:href="@{/open/casesInProgress}">Sprawy w trakcie (cały wydział)</a>
	<a th:href="@{/open/casesFinished}">Sprawy zakonczone (cały wydział)</a>
	<form name="casesOnAdress" th:action="@{/open/casesOnAdress}"
		method="get">
		<input type="text" name="adress" />
		<button type="submit" value="adress" class="btn btn-primary"
			id="loginButton">Wyszukaj sprawy dla adresu (cały wydział)</button>
	</form>

	<a>Moje sprawy w trakcie</a>

	<!-- 	tabela ze sprawami pracownika -->

	<table class="table table-striped">
		<tr>
			<th>numer sprawy</th>
			<th>data wniosku</th>
			<th>data wydania decyzji</th>
			<th>inwestor imie</th>
			<th>inwestor nazwisko</th>
			<th>inwestor nazwa</th>
			<th>sprawa adres</th>
			<th>sprawa waga</th>
		</tr>
		<tr th:each="cases : ${casesList}">
			<td th:text="${cases.sprawa_numer}" />
			<td th:text="${cases.data_wniosku}" />
			<td th:text="${cases.decyzja_data_wydania}" />
			<td th:text="${cases.inwestor_imie}" />
			<td th:text="${cases.inwestor_nazwisko}" />
			<td th:text="${cases.inwestor_nazwa}" />
			<td th:text="${cases.sprawa_adres}" />
			<td th:text="${cases.sprawa_waga}" />
		</tr>

	</table>

	<!--  -->

</body>
</html>