<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/headerinc :: head"></head>

<body>

	<header th:replace="fragments/navigation :: header"></header>

	<!-- Page Content -->

	<section id="login">
		<div class="container2">
			<div class="row">
				<div class="col-lg-8 mx-auto">

					<form class="form-container" name="login" th:action="@{/login}" method="post">
						<div class="form-title">
							<h2></h2>
						</div>
						<div class="form-title">Login</div>
						<input class="form-field" type="text" name="login" /><br />
						<div class="form-title">Password</div>
						<input class="form-field" type="password" name="password" /><br />
						<div class="submit-container">
							<input class="submit-button" type="submit" value="Submit" />
						</div>
					</form>

				</div>
			</div>
		</div>
	</section>




	<!-- Bootstrap core JavaScript -->
	<script src="../vendor/jquery/jquery.min.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
