<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />

<title>Tryb publiczny</title>

</head>
<body>

	<a>Wybierz działanie</a>
	<br />

	<a sec:authorize="isAuthenticated()" href="/logout">logout</a>
	<br />
		
		
	<!-- authority level OPEN -->

	<a th:href="@{/open/casesInProgress}">Sprawy w trakcie (cały
		wydział)</a>
	<a th:href="@{/open/casesFinished}">Sprawy zakonczone (cały
		wydział)</a>
	<form name="casesOnAdress" th:action="@{/open/casesOnAdress}"
		method="get">
		<input type="text" name="adress" />
		<button type="submit" value="adress" class="btn btn-primary"
			id="loginButton">Wyszukaj sprawy dla adresu (cały wydział)</button>
	</form>

	<!-- 	authority level EMPLOYEE -->
	<div sec:authorize = "hasAnyAuthority('employee', 'manager', 'admin')">
	employee panel
	
	<a th:href="@{/employee/casesInProgressEmployee}">Moje sprawy w trakcie</a>
	<a th:href="@{/employee/casesFinishedEmployee}">Moje sprawy zakończone</a>
	
	</div>

	<!-- 	authority level MANAGER -->
	<div sec:authorize = "hasAnyAuthority('manager', 'admin')">manager panel</div>
	<a th:href="@{/manager/employeesManager}">obciążenie pracowników</a>

	<!-- 	authority level ADMIN -->
	<div sec:authorize = "hasAuthority('admin')">admin panel</div>

</body>
</html>